button {
	color: white;
	background-color: navy;
}


button.red {
	color: snow;
	background: crimson;
}

.green-button {
	background-color: green;
}

.yellow {
	background-color: yellow;
	color: #000;
}
